In [2]:
#import libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [3]:
#import login credentials. This file is ignored via the gitignore file
from config import user, password

In [4]:
#create connection to MySQL Database
pymysql.install_as_MySQLdb()
engine = create_engine('mysql://' + user + ':' + password + '@imdb-project.cj1m13sfkxlg.us-east-2.rds.amazonaws.com:3306/gundata')

In [6]:
#Query records
data = engine.execute("SELECT Year(Date), COALESCE(state, 'Total') as st, SUM(n_killed) as Gun_Deaths,latitude as lat,longitude as lon FROM gundata GROUP BY Year(Date),st WITH ROLLUP")
query1 = "SELECT Year(Date), COALESCE(state, 'Total') as st, SUM(n_killed) as Gun_Deaths,latitude as lat,longitude as lon FROM gundata GROUP BY Year(Date),st WITH ROLLUP"

In [7]:
#Initial Test
for record in data:
    print(record)

(2013, 'Alabama', Decimal('3'), 34.7982, -87.6854)
(2013, 'Arizona', Decimal('8'), 33.5985, -99.9999)
(2013, 'California', Decimal('46'), 33.909, -99.9999)
(2013, 'Colorado', Decimal('4'), 39.6518, -99.9999)
(2013, 'Connecticut', Decimal('2'), 41.7957, -72.6635)
(2013, 'Delaware', Decimal('3'), 39.7407, -75.5499)
(2013, 'District of Columbia', Decimal('12'), 38.8978, -76.9717)
(2013, 'Florida', Decimal('22'), 26.6968, -80.6837)
(2013, 'Georgia', Decimal('5'), 32.826, -83.6704)
(2013, 'Illinois', Decimal('14'), 41.7592, -87.5628)
(2013, 'Indiana', Decimal('9'), 39.7927, -86.0328)
(2013, 'Kansas', Decimal('6'), 37.7044, -97.3289)
(2013, 'Kentucky', Decimal('4'), 38.0485, -84.453)
(2013, 'Louisiana', Decimal('8'), 29.9435, -90.0836)
(2013, 'Maryland', Decimal('5'), 39.2899, -76.6412)
(2013, 'Michigan', Decimal('9'), 42.9371, -85.6853)
(2013, 'Minnesota', Decimal('3'), 44.9553, -93.2489)
(2013, 'Mississippi', Decimal('2'), 32.2649, -90.2141)
(2013, 'Missouri', Decimal('9'), 38.7067, -90.2494)
(2013, 'Nebraska', Decimal('0'), 41.305, -95.9758)
(2013, 'Nevada', Decimal('0'), 36.2003, -99.9999)
(2013, 'New Jersey', Decimal('12'), 40.7268, -74.2116)
(2013, 'New Mexico', Decimal('5'), 34.9791, -99.9999)
(2013, 'New York', Decimal('15'), 43.011, -75.0058)
(2013, 'North Carolina', Decimal('5'), 36.114, -79.9569)
(2013, 'Ohio', Decimal('10'), 41.4455, -82.1377)
(2013, 'Oklahoma', Decimal('14'), 36.2405, -95.9768)
(2013, 'Pennsylvania', Decimal('13'), 40.3467, -79.8559)
(2013, 'Rhode Island', Decimal('1'), 41.8173, -71.4516)
(2013, 'South Carolina', Decimal('11'), 34.1868, -82.1638)
(2013, 'Tennessee', Decimal('14'), 35.0221, -85.2697)
(2013, 'Texas', Decimal('24'), 29.6754, -95.5499)
(2013, 'Utah', Decimal('4'), 40.6008, -99.9999)
(2013, 'Virginia', Decimal('3'), 37.0177, -78.1562)
(2013, 'Washington', Decimal('8'), 47.3149, -99.9999)
(2013, 'West Virginia', Decimal('4'), 39.2832, -80.3488)
(2013, 'Wisconsin', Decimal('0'), 43.092, -87.94)
(2013, None, Decimal('317'), 43.092, -87.94)
(2014, 'Alabama', Decimal('325'), 34.7663, -86.6028)
(2014, 'Alaska', Decimal('29'), 65.3198, -99.9999)
(2014, 'Arizona', Decimal('220'), 33.4464, -99.9999)
(2014, 'Arkansas', Decimal('169'), 34.7314, -92.259)
(2014, 'California', Decimal('1320'), 37.3389, -99.9999)
(2014, 'Colorado', Decimal('149'), 39.0496, -99.9999)
(2014, 'Connecticut', Decimal('75'), 41.3083, -72.9279)
(2014, 'Delaware', Decimal('50'), 39.7457, -75.5668)
(2014, 'District of Columbia', Decimal('92'), 38.9275, -77.0089)
(2014, 'Florida', Decimal('873'), 30.6884, -87.048)
(2014, 'Georgia', Decimal('522'), 32.4848, -84.9727)
(2014, 'Hawaii', Decimal('8'), 21.9986, -99.9999)
(2014, 'Idaho', Decimal('31'), 43.5848, -99.9999)
(2014, 'Illinois', Decimal('637'), 38.0795, -89.383)
(2014, 'Indiana', Decimal('330'), 41.049, -85.0909)
(2014, 'Iowa', Decimal('62'), 42.5085, -94.1894)
(2014, 'Kansas', Decimal('94'), 37.6498, -97.3086)
(2014, 'Kentucky', Decimal('194'), 38.053, -84.4928)
(2014, 'Louisiana', Decimal('465'), 29.9768, -90.055)
(2014, 'Maine', Decimal('22'), 43.6539, -70.3095)
(2014, 'Maryland', Decimal('294'), 39.3106, -76.7022)
(2014, 'Massachusetts', Decimal('101'), 42.4751, -70.9697)
(2014, 'Michigan', Decimal('347'), 43.2301, -86.2514)
(2014, 'Minnesota', Decimal('86'), 44.0737, -92.5004)
(2014, 'Mississippi', Decimal('231'), 31.3762, -90.5601)
(2014, 'Missouri', Decimal('383'), 37.2646, -93.3007)
(2014, 'Montana', Decimal('32'), 45.8237, -99.9999)
(2014, 'Nebraska', Decimal('51'), 41.1508, -99.9999)
(2014, 'Nevada', Decimal('150'), 36.1989, -99.9999)
(2014, 'New Hampshire', Decimal('22'), 42.9887, -71.4554)
(2014, 'New Jersey', Decimal('278'), 40.7417, -74.1695)
(2014, 'New Mexico', Decimal('90'), 35.6681, -99.9999)
(2014, 'New York', Decimal('397'), 40.7034, -73.7474)
(2014, 'North Carolina', Decimal('487'), 34.9624, -77.9622)
(2014, 'North Dakota', Decimal('15'), 46.8713, -96.9041)
(2014, 'Ohio', Decimal('494'), 41.6824, -83.5364)
(2014, 'Oklahoma', Decimal('171'), 34.6347, -98.4222)
(2014, 'Oregon', Decimal('96'), 45.5335, -99.9999)
(2014, 'Pennsylvania', Decimal('547'), 39.9641, -75.1916)
(2014, 'Rhode Island', Decimal('18'), 41.8253, -71.4143)
(2014, 'South Carolina', Decimal('344'), 32.8548, -79.9977)
(2014, 'South Dakota', Decimal('16'), 45.4548, -98.4881)
(2014, 'Tennessee', Decimal('352'), 35.8255, -88.9093)
(2014, 'Texas', Decimal('1094'), 33.5922, -99.9999)
(2014, 'Utah', Decimal('62'), 37.1302, -99.9999)
(2014, 'Vermont', Decimal('18'), 44.2313, -72.5533)
(2014, 'Virginia', Decimal('284'), 38.7765, -77.4996)
(2014, 'Washington', Decimal('181'), 47.5498, -99.9999)
(2014, 'West Virginia', Decimal('70'), 37.3691, -81.0813)
(2014, 'Wisconsin', Decimal('163'), 42.6828, -89.0187)
(2014, 'Wyoming', Decimal('15'), 41.1641, -99.9999)
(2014, None, Decimal('12556'), 41.1641, -99.9999)
(2015, 'Alabama', Decimal('385'), 33.4423, -86.9322)
(2015, 'Alaska', Decimal('70'), 61.1991, -99.9999)
(2015, 'Arizona', Decimal('215'), 32.2163, -99.9999)
(2015, 'Arkansas', Decimal('155'), 34.7345, -92.3328)
(2015, 'California', Decimal('1204'), 34.0322, -99.9999)
(2015, 'Colorado', Decimal('176'), 38.7901, -99.9999)
(2015, 'Connecticut', Decimal('90'), 41.1884, -73.16)
(2015, 'Delaware', Decimal('58'), 39.7385, -75.5564)
(2015, 'District of Columbia', Decimal('124'), 38.9323, -76.9745)
(2015, 'Florida', Decimal('796'), 28.5212, -81.4366)
(2015, 'Georgia', Decimal('595'), 33.3856, -84.5648)
(2015, 'Hawaii', Decimal('12'), 21.3316, -99.9999)
(2015, 'Idaho', Decimal('40'), 43.4896, -99.9999)
(2015, 'Illinois', Decimal('688'), 41.9202, -87.7857)
(2015, 'Indiana', Decimal('346'), 40.4247, -86.8832)
(2015, 'Iowa', Decimal('60'), 42.4809, -92.324)
(2015, 'Kansas', Decimal('127'), 37.2414, -97.0001)
(2015, 'Kentucky', Decimal('230'), 38.2726, -85.6412)
(2015, 'Louisiana', Decimal('501'), 29.8312, -90.9609)
(2015, 'Maine', Decimal('31'), 43.9884, -69.6928)
(2015, 'Maryland', Decimal('404'), 39.294, -76.62)
(2015, 'Massachusetts', Decimal('109'), 42.3762, -73.36)
(2015, 'Michigan', Decimal('355'), 43.0695, -83.694)
(2015, 'Minnesota', Decimal('123'), 44.9656, -93.1036)
(2015, 'Mississippi', Decimal('223'), 31.3271, -89.2903)
(2015, 'Missouri', Decimal('492'), 38.6684, -90.2166)
(2015, 'Montana', Decimal('34'), 46.0049, -99.9999)
(2015, 'Nebraska', Decimal('59'), 41.2622, -95.9313)
(2015, 'Nevada', Decimal('183'), 36.1786, -99.9999)
(2015, 'New Hampshire', Decimal('22'), 42.9235, -71.4164)
(2015, 'New Jersey', Decimal('249'), 40.6238, -74.4168)
(2015, 'New Mexico', Decimal('116'), 35.1311, -99.9999)
(2015, 'New York', Decimal('463'), 42.0842, -79.2359)
(2015, 'North Carolina', Decimal('493'), 34.0579, -78.4597)
(2015, 'North Dakota', Decimal('18'), 46.9251, -98.0056)
(2015, 'Ohio', Decimal('537'), 41.518, -81.5366)
(2015, 'Oklahoma', Decimal('220'), 36.0934, -95.887)
(2015, 'Oregon', Decimal('125'), 42.3201, -99.9999)
(2015, 'Pennsylvania', Decimal('508'), 39.8449, -75.3816)
(2015, 'Rhode Island', Decimal('14'), 41.7817, -71.4651)
(2015, 'South Carolina', Decimal('384'), 32.1962, -80.735)
(2015, 'South Dakota', Decimal('25'), 43.5125, -96.7119)
(2015, 'Tennessee', Decimal('395'), 35.0064, -85.3179)
(2015, 'Texas', Decimal('1136'), 29.1353, -98.5778)
(2015, 'Utah', Decimal('66'), 40.1071, -99.9999)
(2015, 'Vermont', Decimal('13'), 44.4821, -73.2075)
(2015, 'Virginia', Decimal('317'), 37.805, -79.9887)
(2015, 'Washington', Decimal('197'), 48.5357, -99.9999)
(2015, 'West Virginia', Decimal('58'), 37.2675, -81.2237)
(2015, 'Wisconsin', Decimal('222'), 43.0675, -87.9053)
(2015, 'Wyoming', Decimal('21'), 42.8887, -99.9999)
(2015, None, Decimal('13484'), 42.8887, -99.9999)
(2016, 'Alabama', Decimal('488'), 30.692, -88.0418)
(2016, 'Alaska', Decimal('88'), 61.189, -99.9999)
(2016, 'Arizona', Decimal('277'), 33.4715, -99.9999)
(2016, 'Arkansas', Decimal('190'), 34.4985, -92.4198)
(2016, 'California', Decimal('1265'), 33.8127, -99.9999)
(2016, 'Colorado', Decimal('207'), 39.0748, -99.9999)
(2016, 'Connecticut', Decimal('68'), 41.5402, -72.7895)
(2016, 'Delaware', Decimal('42'), 39.7576, -75.5016)
(2016, 'District of Columbia', Decimal('106'), 38.9552, -77.0225)
(2016, 'Florida', Decimal('1001'), 28.0601, -81.9941)
(2016, 'Georgia', Decimal('548'), 32.0406, -81.1111)
(2016, 'Hawaii', Decimal('34'), 19.7297, -99.9999)
(2016, 'Idaho', Decimal('34'), 43.4923, -99.9999)
(2016, 'Illinois', Decimal('946'), 41.7496, -87.5714)
(2016, 'Indiana', Decimal('420'), 39.7529, -86.1236)
(2016, 'Iowa', Decimal('70'), 42.4992, -92.331)
(2016, 'Kansas', Decimal('125'), 38.8017, -97.6175)
(2016, 'Kentucky', Decimal('288'), 38.0682, -84.5057)
(2016, 'Louisiana', Decimal('527'), 30.011, -90.2551)
(2016, 'Maine', Decimal('18'), 43.682, -70.3327)
(2016, 'Maryland', Decimal('429'), 39.2946, -76.6745)
(2016, 'Massachusetts', Decimal('112'), 42.2802, -71.0759)
(2016, 'Michigan', Decimal('385'), 42.6723, -84.603)
(2016, 'Minnesota', Decimal('108'), 44.9849, -93.2427)
(2016, 'Mississippi', Decimal('290'), 31.5944, -91.361)
(2016, 'Missouri', Decimal('515'), 39.0979, -94.5221)
(2016, 'Montana', Decimal('42'), 0.0, 0.0)
(2016, 'Nebraska', Decimal('57'), 40.84, -96.7199)
(2016, 'Nevada', Decimal('205'), 36.2766, -99.9999)
(2016, 'New Hampshire', Decimal('20'), 43.5475, -71.4072)
(2016, 'New Jersey', Decimal('297'), 40.926, -74.1703)
(2016, 'New Mexico', Decimal('122'), 36.7439, -99.9999)
(2016, 'New York', Decimal('416'), 41.8418, -73.967)
(2016, 'North Carolina', Decimal('576'), 35.3465, -80.8415)
(2016, 'North Dakota', Decimal('18'), 48.2286, -99.9999)
(2016, 'Ohio', Decimal('628'), 39.3714, -84.3633)
(2016, 'Oklahoma', Decimal('243'), 36.2258, -95.9977)
(2016, 'Oregon', Decimal('95'), 42.3173, -99.9999)
(2016, 'Pennsylvania', Decimal('556'), 40.0313, -76.3326)
(2016, 'Rhode Island', Decimal('14'), 41.8655, -71.3733)
(2016, 'South Carolina', Decimal('387'), 33.6763, -79.8323)
(2016, 'South Dakota', Decimal('23'), 0.0, 0.0)
(2016, 'Tennessee', Decimal('470'), 35.9142, -84.1868)
(2016, 'Texas', Decimal('1313'), 30.9081, -95.3583)
(2016, 'Utah', Decimal('70'), 40.2891, -99.9999)
(2016, 'Vermont', Decimal('13'), 44.1621, -73.2501)
(2016, 'Virginia', Decimal('398'), 36.8681, -76.3993)
(2016, 'Washington', Decimal('183'), 47.6483, -99.9999)
(2016, 'West Virginia', Decimal('99'), 39.2715, -80.8094)
(2016, 'Wisconsin', Decimal('222'), 42.9655, -87.8576)
(2016, 'Wyoming', Decimal('18'), 44.2739, -99.9999)
(2016, None, Decimal('15066'), 44.2739, -99.9999)
(2017, 'Alabama', Decimal('544'), 34.8028, -86.8823)
(2017, 'Alaska', Decimal('69'), 64.8425, -99.9999)
(2017, 'Arizona', Decimal('289'), 32.2038, -99.9999)
(2017, 'Arkansas', Decimal('216'), 34.69, -92.3332)
(2017, 'California', Decimal('1423'), 36.951, -99.9999)
(2017, 'Colorado', Decimal('199'), 39.7297, -99.9999)
(2017, 'Connecticut', Decimal('89'), 41.7579, -72.687)
(2017, 'Delaware', Decimal('56'), 38.9295, -75.5817)
(2017, 'District of Columbia', Decimal('100'), 38.8626, -76.9818)
(2017, 'Florida', Decimal('950'), 25.8688, -80.2221)
(2017, 'Georgia', Decimal('658'), 33.8665, -84.1859)
(2017, 'Hawaii', Decimal('8'), 19.7117, -99.9999)
(2017, 'Idaho', Decimal('47'), 42.9931, -99.9999)
(2017, 'Illinois', Decimal('959'), 40.6739, -89.633)
(2017, 'Indiana', Decimal('407'), 39.7978, -86.1093)
(2017, 'Iowa', Decimal('71'), 41.5728, -93.621)
(2017, 'Kansas', Decimal('152'), 39.1148, -94.7702)
(2017, 'Kentucky', Decimal('273'), 36.6114, -83.7223)
(2017, 'Louisiana', Decimal('549'), 31.2487, -93.3345)
(2017, 'Maine', Decimal('33'), 43.3965, -70.9127)
(2017, 'Maryland', Decimal('480'), 39.2814, -76.6937)
(2017, 'Massachusetts', Decimal('128'), 42.0999, -72.5896)
(2017, 'Michigan', Decimal('369'), 42.3505, -83.2211)
(2017, 'Minnesota', Decimal('115'), 45.0716, -93.2634)
(2017, 'Mississippi', Decimal('324'), 34.8264, -90.3351)
(2017, 'Missouri', Decimal('609'), 38.5706, -92.161)
(2017, 'Montana', Decimal('41'), 46.7456, -99.9999)
(2017, 'Nebraska', Decimal('47'), 41.296, -95.947)
(2017, 'Nevada', Decimal('200'), 36.1222, -99.9999)
(2017, 'New Hampshire', Decimal('23'), 42.9793, -71.4274)
(2017, 'New Jersey', Decimal('275'), 40.2097, -74.7595)
(2017, 'New Mexico', Decimal('125'), 34.1898, -99.9999)
(2017, 'New York', Decimal('347'), 40.8541, -73.8993)
(2017, 'North Carolina', Decimal('556'), 35.7426, -79.8081)
(2017, 'North Dakota', Decimal('15'), 47.6479, -99.9999)
(2017, 'Ohio', Decimal('700'), 41.4644, -81.5846)
(2017, 'Oklahoma', Decimal('249'), 35.462, -97.4768)
(2017, 'Oregon', Decimal('99'), 42.2258, -99.9999)
(2017, 'Pennsylvania', Decimal('635'), 42.1306, -80.0272)
(2017, 'Rhode Island', Decimal('11'), 41.7292, -71.2651)
(2017, 'South Carolina', Decimal('395'), 33.504, -79.3373)
(2017, 'South Dakota', Decimal('19'), 44.0915, -99.9999)
(2017, 'Tennessee', Decimal('495'), 35.067, -89.9156)
(2017, 'Texas', Decimal('1169'), 30.3642, -97.5354)
(2017, 'Utah', Decimal('70'), 40.1967, -99.9999)
(2017, 'Vermont', Decimal('9'), 44.6759, -73.065)
(2017, 'Virginia', Decimal('385'), 37.5488, -77.3984)
(2017, 'Washington', Decimal('230'), 47.0743, -99.9999)
(2017, 'West Virginia', Decimal('81'), 39.2776, -80.3407)
(2017, 'Wisconsin', Decimal('209'), 44.2763, -88.397)
(2017, 'Wyoming', Decimal('9'), 42.8572, -99.9999)
(2017, None, Decimal('15511'), 42.8572, -99.9999)
(2018, 'Alabama', Decimal('135'), 33.4743, -87.0391)
(2018, 'Alaska', Decimal('11'), 61.2169, -99.9999)
(2018, 'Arizona', Decimal('85'), 33.4957, -99.9999)
(2018, 'Arkansas', Decimal('43'), 34.7204, -92.4523)
(2018, 'California', Decimal('304'), 37.7698, -99.9999)
(2018, 'Colorado', Decimal('61'), 38.2689, -99.9999)
(2018, 'Connecticut', Decimal('17'), 41.7586, -72.6781)
(2018, 'Delaware', Decimal('8'), 39.1258, -75.5351)
(2018, 'District of Columbia', Decimal('25'), 38.9208, -76.9823)
(2018, 'Florida', Decimal('267'), 29.1967, -82.0976)
(2018, 'Georgia', Decimal('128'), 34.9406, -85.3135)
(2018, 'Hawaii', Decimal('1'), 21.3875, -99.9999)
(2018, 'Idaho', Decimal('14'), 43.5964, -99.9999)
(2018, 'Illinois', Decimal('165'), 42.2822, -89.1148)
(2018, 'Indiana', Decimal('96'), 0.0, 0.0)
(2018, 'Iowa', Decimal('10'), 41.2401, -95.8847)
(2018, 'Kansas', Decimal('38'), 39.0876, -95.6868)
(2018, 'Kentucky', Decimal('77'), 38.3893, -84.5381)
(2018, 'Louisiana', Decimal('129'), 32.4246, -93.8594)
(2018, 'Maine', Decimal('8'), 44.6381, -69.5086)
(2018, 'Maryland', Decimal('79'), 39.1375, -76.7231)
(2018, 'Massachusetts', Decimal('22'), 42.3379, -71.0547)
(2018, 'Michigan', Decimal('122'), 42.3034, -85.5888)
(2018, 'Minnesota', Decimal('26'), 44.964, -93.0371)
(2018, 'Mississippi', Decimal('106'), 30.3835, -88.6504)
(2018, 'Missouri', Decimal('128'), 38.6549, -92.1157)
(2018, 'Montana', Decimal('5'), 45.6575, -99.9999)
(2018, 'Nebraska', Decimal('11'), 40.808, -96.6752)
(2018, 'Nevada', Decimal('61'), 36.102, -99.9999)
(2018, 'New Hampshire', Decimal('1'), 43.079, -70.7719)
(2018, 'New Jersey', Decimal('57'), 40.2082, -74.7455)
(2018, 'New Mexico', Decimal('37'), 35.093, -99.9999)
(2018, 'New York', Decimal('67'), 42.9093, -78.8491)
(2018, 'North Carolina', Decimal('108'), 35.2094, -80.8955)
(2018, 'North Dakota', Decimal('3'), 46.8407, -96.8039)
(2018, 'Ohio', Decimal('139'), 41.4494, -82.176)
(2018, 'Oklahoma', Decimal('44'), 36.2242, -95.9935)
(2018, 'Oregon', Decimal('31'), 44.303, -99.9999)
(2018, 'Pennsylvania', Decimal('136'), 40.4266, -77.056)
(2018, 'Rhode Island', Decimal('5'), 41.8265, -71.4546)
(2018, 'South Carolina', Decimal('89'), 35.0963, -82.0436)
(2018, 'South Dakota', Decimal('7'), 43.5045, -96.7)
(2018, 'Tennessee', Decimal('98'), 36.5607, -87.4)
(2018, 'Texas', Decimal('310'), 29.7676, -95.3359)
(2018, 'Utah', Decimal('10'), 40.6531, -99.9999)
(2018, 'Vermont', Decimal('4'), 44.8065, -73.0816)
(2018, 'Virginia', Decimal('72'), 37.5012, -77.4737)
(2018, 'Washington', Decimal('54'), 46.2159, -99.9999)
(2018, 'West Virginia', Decimal('23'), 38.3233, -81.707)
(2018, 'Wisconsin', Decimal('46'), 43.0944, -89.3642)
(2018, 'Wyoming', Decimal('10'), 44.8126, -99.9999)
(2018, None, Decimal('3533'), 44.8126, -99.9999)
(None, None, Decimal('60467'), 44.8126, -99.9999)

In [8]:
#run query1 then insert into dataframe
df1 = pd.read_sql_query(query1,engine)

In [9]:
#take first dataframe then convert to json
df1.to_json(path_or_buf='overall_gun_deaths_by_year.json',orient='records')

In [10]:
#take second dataframe then convert to json
#this query will look at gunviolence data from top 5 states of number of gun related homicides
query2 = """
SELECT year(gundata.date),gundata.state,city_or_county,latitude,longitude,sum(n_killed) FROM gundata
LEFT JOIN		(SELECT DISTINCT state
				FROM gundata
				GROUP BY state
				ORDER BY SUM(n_killed) DESC
                LIMIT 5) as sub
ON gundata.state = sub.state
WHERE sub.state IS NOT NULL
GROUP BY city_or_county, year(gundata.date)
ORDER BY sum(n_killed) DESC;
"""


df2 = pd.read_sql_query(query2,engine)
df2.to_json(path_or_buf='gun_deaths in top 5 states.json',orient='records')

In [11]:
#Used Stored Procedure
df3 = pd.read_sql_query("call Cause_Of_Gun_Deaths()", engine)
df3.to_json(path_or_buf='Cause_of_Gun_Deaths_by_City_State_Year.json',orient='records')

ValueError: unsupported format character 'm' (0x6d) at index 41